<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/owner_restaurant.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/foundation.min.css" />

    <body>

        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="#">ORDERS</a></li>
                    <li class="menu-text is-active">DASHBOARD</li>
                    <li><a href="#">ADMIN</a></li>
                    <button class="restaurant-owner-logout-button button">logout</button>
                    <img class="restaurant-owner-profile-img" src="https://img.icons8.com/ultraviolet/40/000000/user-female-circle.png">
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="columns">
                <div class="table-scroll">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <h3 class="restaurant-owner-label">Preview</h3>
                                </th>
                                <th>
                                    <div>
                                        <h3 class="restaurant-owner-label">Image</h3>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <h3 class="restaurant-owner-label">Name</h3>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <h3 class="restaurant-owner-label">Description</h3>

                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <h3 class="restaurant-owner-label">Price</h3>

                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <h3 class="restaurant-owner-label">Time To Prepare</h3>

                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <h3 class="restaurant-owner-label">Is Active</h3>

                                    </div>
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <% menuItems.forEach(item => {%>
                                <tr>
                                    <th>
                                        <button class="button" data-open="menuItemPreviewModul">Click TO Preview</button>
                                    </th>
                                    <th class="restaurant-owner-table-cell">
                                        <div class="restaurant-owner-table-image-container">
                                            <img src="<%=item.image_url%>">
                                        </div>
                                        <div>
                                            <button class="button" data-open="editImageModul">EDIT</button>
                                        </div>
                                    </th>
                                    <th>
                                        <div>
                                            <h5>
                                                <%=item.name%>
                                                    </h2>
                                        </div>
                                        <div>
                                            <button class="button" data-open="editNameModul">EDIT</button>
                                        </div>
                                    </th>
                                    <th>
                                        <div>
                                            <h5>
                                                <%=item.description%>
                                            </h5>
                                        </div>
                                        <div>
                                            <button class="button" data-open="editDescriptionModul">EDIT</button>
                                        </div>
                                    </th>
                                    <th>
                                        <div>
                                            <h5>
                                                <%=item.price%>
                                            </h5>
                                        </div>
                                        <div>
                                            <button class="button" data-open="editPriceModul">EDIT</button>
                                        </div>

                                    </th>
                                    <th>
                                        <div>
                                            <h5>
                                                <%=item.time_to_prepare%>
                                            </h5>
                                        </div>
                                        <div>
                                            <button class="button " data-open="editTimeModul">EDIT</button>
                                        </div>
                                    </th>
                                    <th>
                                        <div>
                                            <h5>
                                                <%=item.is_active%>
                                            </h5>
                                        </div>
                                        <div class="restaurant-owner-field-item">

                                            <button class="button" data-open="editActiveModul">EDIT</button>
                                        </div>
                                    </th>
                                </tr>
                                <%})%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="reveal restaurant-owner-edit-modul" id="editImageModul" data-reveal>
            <div class="restaurant-owner-edit-image-modul-image">
                <img src="https://img.icons8.com/offices/40/000000/food.png">
            </div>
            <form action="" method="POST" class="restaurant-owner-edit-image-modul-image">
                <button class="button">
                  Change
              </button>
                <div>
                    <button class="button">Confirm</button>
                    <button class="button">Cancel</button>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal restaurant-owner-edit-modul" id="editNameModul" data-reveal>
            <form action="" method="POST" class="restaurant-owner-edit-image-modul-image">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-12 cell">
                            <label>Name
                        <input type="text" placeholder="name">
                      </label>
                        </div>
                    </div>
                </div>

                <div>
                    <button class="button">Confirm</button>
                    <button class="button">Cancel</button>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal restaurant-owner-edit-modul" id="editDescriptionModul" data-reveal>

            <form action="" method="POST" class="restaurant-owner-edit-image-modul-image">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-12 cell">
                            <label>Description
                                <textarea placeholder="Placeholder text"></textarea>
                      </label>
                        </div>

                    </div>
                </div>

                <div>
                    <button class="button">Confirm</button>
                    <button class="button">Cancel</button>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal restaurant-owner-edit-modul" id="editPriceModul" data-reveal>

            <form action="" method="POST" class="restaurant-owner-edit-image-modul-image">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-12 cell">
                            <label>Price
                        <input type="text" placeholder="Price">
                      </label>
                        </div>

                    </div>
                </div>

                <div>
                    <button class="button">Confirm</button>
                    <button class="button">Cancel</button>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal restaurant-owner-edit-modul" id="editTimeModul" data-reveal>

            <form action="" method="POST" class="restaurant-owner-edit-image-modul-image">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-12 cell">
                            <label>Time in Minutes
                        <input type="text" placeholder="Minutes">
                      </label>
                        </div>

                    </div>
                </div>

                <div>
                    <button class="button">Confirm</button>
                    <button class="button">Cancel</button>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal restaurant-owner-edit-modul" id="editTimeModul" data-reveal>

            <form action="" method="POST" class="restaurant-owner-edit-image-modul-image">

                <div>
                    <button class="button">Confirm</button>
                    <button class="button">Cancel</button>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal restaurant-owner-edit-modul" id="editActiveModul" data-reveal>

            <form action="" method="POST" class="restaurant-owner-edit-image-modul-image">

                <fieldset class="large-5 cell">
                    <legend>Change Active</legend>
                    <input type="radio" name="isActive" value="True" id="isActiveTrue" required><label for="isActiveTrue">True</label>
                    <input type="radio" name="isNotActive" value="False" id="isNotActive"><label for="isNotActive">False</label>
                </fieldset>

                <div>
                    <button class="button">Confirm</button>
                    <button class="button">Cancel</button>
                </div>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal" id="menuItemPreviewModul" data-reveal>
            <div class="card restaurant-owner-card" style="width: 300px;">
                <div class="card-divider">
                    <h4>Thai fried rice</h4>
                </div>
                <img src="https://img.icons8.com/offices/40/000000/food.png">
                <div class="card-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique.</p>
                    <p>$10.00</p>
                    <button class="button">Add To Cart</button>
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>

</html>
